/*Importuoja "Talkine" teksto stilių*/
@font-face {
  font-family: "Talkine";
  src: url("./fonts/talkine.woff2") format("woff2");
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}
header h1 {
  font-family: "Talkine", Arial, sans-serif;
  font-weight: 400;
  margin: 0;
  font-size: 30pt;
}
header {
  margin: 3%;
  margin-bottom: 5%;
}
img {
  max-width: 100%;
  height: auto;
  display: block;
}
.container {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 20px;
  flex-wrap: wrap;
  max-width: 900px;
  margin: 0 auto;
}
.left {
  display: grid;
  color: white;
  gap: 12px;
  padding: 12px;
  width: 40%;
  min-width: 280px;
  height: auto;
  justify-items: flex-start;
  background: linear-gradient(
    to top right,
    #001f3f 0%,
    #003f7f 25%,
    #0059b3 50%,
    #1976d2 75%,
    #66b2ff 100%
  );
  border-radius: 8px;
  margin: 12px;
  transition: transform 0.5s ease;
}
.left:hover {
  transform: scale(1.1);
}
.right {
  display: grid;
  color: white;
  gap: 12px;
  padding: 12px;
  width: 40%;
  min-width: 280px;
  height: auto;
  justify-items: flex-end;
  background: linear-gradient(
    to top right,
    #001f3f 0%,
    #003f7f 25%,
    #0059b3 50%,
    #1976d2 75%,
    #66b2ff 100%
  );
  border-radius: 8px;
  margin: 12px;
  transition: transform 0.5s ease;
}
.right:hover {
  transform: scale(1.1);
}
footer {
  background-color: lightblue;
  text-align: center;
  color: white;
  padding: 20px;
  margin-block-start: 76svh;
}
#myBtnContainer {
  display: flex;
  flex-direction: row;
  gap: 10px;
}
.btn {
  width: 150px;
  border: none;
  padding: 12px 16px;
  background-color: #f1f1f1;
  cursor: pointer;
}
.btn:hover {
  background-color: #ddd;
}
.btn.active {
  background-color: #454545;
  color: white;
}
.new-container {
  overflow: hidden;
  width: 100%;
}
.filterDiv {
  float: left;
  background: linear-gradient(to right top, #2196f3, #676767);
  color: #ffffff;
  width: 375px;
  margin: 4px;
  display: none;
}
.show {
  display: block;
}
